#page body
{
	line-height:30px;
	letter-spacing:1px;
}
#page h1
{
	text-align:center;
	font-size:30px;
}
#page img
{
	margin-left:50px;
	width:225px;
	vertical-align:middle;
}
#page h2
{
	font-size:25px;
	line-height: 2.5em;
}
#page h3
{
	margin-left:50px;
}
#page p
{
	margin-left:80px;
	margin-top:10px;
}
#page span.light
{
	color:#FF9F00;
	padding-left:1px;
	padding-right:1px;
}