<link rel="stylesheet" type="text/css" href="/besg/data/css/behind.css" />

<body>
<h1 id='header'>黑天鵝幕後團隊</h1>
	<h2>主辦單位：</h2>
		<img src="data/images/blackswan.png" />
		<img src="data/images/csie.png" />
	<h2>協辦單位：</h2>
		<img src="data/images/dance.png" />
    <img src="data/images/nchu_it.png" />
	<h2>指導單位：</h2>
		<img src="data/images/sg.png" style="margin-bottom: 1.5em; background-color:white;"/>
	<h2>黑天鵝籌備委員會 成員名單：</h2>
        <p>
            <b>總召：林彥佑</b><br />
            <b>副召：方奕娜</b><br />
        </p>
        
		<p>
            <b>活動組：</b><br />
                鄭典  <span class="light">（組長）</span> <br />
                蔡景承<span class="light">（副組長）</span> <br />
                劉子揚、徐志磬、邱彥行、林建晨、奚國耕、陳霈軒、盧又新 <br />
        </p>
        
        <p>
            <b>公關組：</b><br />
                吳卓芳<span class="light">（組長）</span> <br />
                佘巧婕、林郁蓁<span class="light">（副組長）</span> <br />
                陳亮維、黃文甫、賈斯汀、姚定緯、劉家瑋、李宜臻 <br />
        </p>    
            
        <p>    
            <b>賽程組：</b><br />
                郭雅瑄<span class="light">（組長）</span> <br />
                宋采頻<span class="light">（副組長）</span> <br />
                方翊宸、許碩文、林竣惟、曾玉如、吳佑德、吳尚興 <br />
        </p> 
            
        <p>
            <b>財務組：</b><br />
                陳和宜<span class="light">（組長）</span> <br />
                胡博凱<br />
        </p>    
            
        <p>    
            <b>技術組：</b><br />
                謝瑜軒<span class="light">（組長）</span> <br />
                許孟傑、邱冠喻、吳翰龍、鍾宛庭 <br />
                凌若虛<span style="color:gray;">（顧問）</span><br />
        </p>    
        
        <p>    
            <b>本網站製作團隊：</b><br />
                版面設計：許孟傑 (曉石之音)<br />
                前端程式：邱冠喻 (西瓜)<br />
                後端程式：謝瑜軒 (果醬)<br />
                資料整理：鍾宛庭 (Emma)<br />
                團隊顧問：凌若虛 (Fntsrlike)<br />
        </p>    
</body>
