<link rel="stylesheet" type="text/css" href="/besg/data/css/besgRule.css?201305041430" />

<script type="text/javascript">
	pageCompleteCustom=function(){
		$('#page a').button();
		
		//預設應連到:
		var wikiURL="/wiki/index.php/學生會:黑天鵝盃全校電競聯賽/比賽規則";
		//測試時:
		wikiURL='/besg/data/rule.html';

		$.ajax({
			url:wikiURL,
			success:function(data){
				$("#ruleContent").fadeOut(function(){
					$("#ruleContent").empty().append($(data).find("#mw-content-text"));
					$("#ruleContent").show();
					pageComplete(true,true,true);
				});
			},
			error:function(){
				console.log('wiki規則位置:'+wikiURL+'\n讀取失敗！');
				pageComplete(true,true,true);
			}
		});
	}
</script>

<h1 id="header">第一屆 BlackSwan E-Sport GAME（BESG）<br/>比賽規則</h1>
<a href="/wiki/index.php/學生會:黑天鵝盃全校電競聯賽/比賽規則" target="_blank">前往本活動wiki觀看比賽規則</a>

<div id="ruleContent">
	<p style="text-align:left; font-size:14px; margin:1em;">loading...</p>
	<p style="text-align:right; font-size:14px; margin:1em;">若無法顯示，請點選"前往本活動wiki觀看比賽規則"</p>
</div>
