<style>
	img.sponsor{
		margin-left:50px;
		width:225px; 
	}
</style>
<h1 id='header'>贊助廠商</h1>
<img class='sponsor' src='/besg/data/images/sponsor_0.jpg'><img class='sponsor' src='/besg/data/images/sponsor_1.jpg'><img class='sponsor' src='/besg/data/images/sponsor_2.jpg'><img class='sponsor' src='/besg/data/images/sponsor_3.jpg'><img class='sponsor' src='/besg/data/images/sponsor_4.jpg'><img class='sponsor' src='/besg/data/images/sponsor_5.jpg'><img class='sponsor' src='/besg/data/images/sponsor_6.jpg'><img class='sponsor' src='/besg/data/images/sponsor_7.jpg'><img class='sponsor' src='/besg/data/images/sponsor_8.jpg'><img class='sponsor' src='/besg/data/images/sponsor_9.jpg'><img class='sponsor' src='/besg/data/images/sponsor_10.jpg'><img class='sponsor' src='/besg/data/images/sponsor_11.jpg'><img class='sponsor' src='/besg/data/images/sponsor_12.jpg'><img class='sponsor' src='/besg/data/images/sponsor_13.jpg'><img class='sponsor' src='/besg/data/images/sponsor_14.jpg'>